/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.css
 *= require bootstrap_override.scss
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }

section {
  text-align: center;
  background-color: #fafafa;
}
li {
  list-style: none;
}
.main-header .about {
  background-color: #fafafa;
  width: 100%;
}

.container {
  height: 600px;
}

footer {
  background-color: #d2d2d2;
  color: #727272;
  width: 100%;
  padding: 20px 0 10px 0;
  margin: auto;
  font-size: 12px;
  position: fixed;   
  bottom: 0;
  text-align: center;
}
